button.v-btn{
    background-color: #FF6D00;
    color: #282a36;
}
button.v-btn.nav-btn {
    background-color: #f8f8f2;
    color: #FF6D00;
}
h1, h2 {
    color: #f8f8f2;
}
.v-app {
    background-color: #282a36;
}
div.v-card {
    background-color: #44475a;
}
div.table-scroll {
    max-height: 500px;
    overflow: auto;
    display: block;
    border-radius: 10px;
}